TgCrypto
ffmpeg-python
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.8.0
python-dotenv

asyncio

googletrans==4.0.0rc1

youtube_dl
pafy==0.5.5
pytube==11.0.1

youtube_search_python==1.4.6
youtube_search

aiofiles
aiohttp
requests
psutil
future
gTTS
wget
